* {
  margin: 0;
  padding: 0;
}
:root {
  --orange: #f16718;
  --lightOrange: #ff9b62;
  --darkGreyBlue: #162542;
  --lightGreyBlue: #7b8bad;
  --lightGrey: #e8eff2;
}
body {
  width: 100%;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: var(--darkGreyBlue);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 23px auto 64px;
  width: 85%;
}
nav a {
  background-color: var(--lightGrey);
  border-radius: 8px;
  padding: 14px 14px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--darkGreyBlue);
}
header {
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;
}
.header-text {
  width: 85%;
  margin: 0 auto;
}
h1 {
  margin-bottom: 32px;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
}
.header-text > p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 26px;
  color: var(--lightGreyBlue);
}
.preorder {
  display: flex;
  align-items: center;
  margin-bottom: 64px;
}
.preorder a {
  background-color: var(--orange);
  border-radius: 8px;
  padding: 14px 14px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.preorder p {
  margin-left: 32px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--lightGreyBlue);
}
.header-img img {
  width: 100%;
  border-radius: 20px;
  transform: translateX(+7%);
}
.square {
  display: none;
}
.images {
  display: flex;
  gap: 35px;
  margin-bottom: 75px;
  height: 193px;
  overflow: hidden;
}
.images img {
  height: 100%;
  transform: translateX(-15%);
  border-radius: 20px;
}
.orange {
  position: relative;
}
.orange-background {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-15%);
  background-color: var(--orange);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.orange img {
  opacity: 0.5;
}
.main-text {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.main-text h2 {
  margin: 0 auto 24px auto;
  width: 70%;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;
}
.main-text p {
  margin-bottom: 111px;
  font-size: 16px;
  line-height: 26px;
  color: var(--lightGreyBlue);
}
section {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
.img-section {
  position: relative;
  width: 65px;
  height: 65px;
  margin: 0 auto 48px;
  background-color: var(--orange);
  border-radius: 16px;
}
.img-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section h3 {
  margin: 0 auto 24px;
  width: 60%;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 28px;
}
section p {
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 26px;
  color: var(--lightGreyBlue);
}
footer {
  margin-bottom: 50px;
  font-size: 16px;
  text-align: center;
  color: var(--lightGreyBlue);
}
footer span {
  font-weight: 700;
}
@media (min-width: 768px) {
  nav {
    margin: 40px auto 62px;
    width: 85%;
  }
  nav a {
    padding: 16px 26px;
  }
  header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    height: 425px;
  }
  .header-text {
    width: 45%;
    margin-left: 7%;
  }
  h1 {
    margin-bottom: 34px;
    font-size: 48px;
  }
  .header-text > p {
    margin-bottom: 39px;
    font-size: 16px;
  }
  .preorder {
    margin-bottom: 0;
  }
  .preorder a {
    background-color: var(--orange);
    border-radius: 8px;
    padding: 16px 26px;
  }
  .preorder p {
    margin-left: 37px;
  }
  .header-img {
    flex-basis: 50%;
    position: absolute;
    top: 0;
    right: -20%;
  }
  .header-img img {
    width: 478px;
    height: 425px;
    transform: translateX(0%);
  }
  .images {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 90%;
    margin: 0 auto 72px;
    height: 320px;
    overflow: hidden;
  }
  .images img {
    height: 100%;
    transform: translateX(0%);
    border-radius: 20px;
  }
  .orange {
    position: relative;
  }
  .orange-background {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0%);
    background-color: var(--orange);
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
  .orange img {
    opacity: 0.5;
  }
  .main-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto 142px;
    text-align: left;
  }
  .main-text h2 {
    margin: 0;
    width: 40%;
  }
  .main-text p {
    width: 60%;
    margin-bottom: 0;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto 142px;
    text-align: left;
  }
  section div {
    width: 45%;
  }
  .img-section {
    margin: 0 0 40px;
  }
  section h3 {
    margin: 0 0 24px;
    width: 70%;
  }
  section p {
    margin-bottom: 72px;
  }
}
